/*-------------------------------------------------------------------------------*/
main{
    width:100%;
    height:3000px;
    }
  .slide_img_사진{
      background-size:cover;
  }
  
    /* ------------------------------------------------------------ */
    .item img{
      width:100%;
      height:100%;
    }
    #category{
    width:1200px;
    height:300px;
    margin:150px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
  
    }
    #ImgNtext{
        border-radius:125px;
        /* margin:25px; */
        width:250px;
        height:250px;
        background-position:center;
        position:relative;
        background-size:cover;
    }
    #ImgNtext:hover{
    cursor:pointer;
    }
    .text-box{
    position:absolute;
    top:75%;
    left:50%;
    transform:translate(-50%,-50%);
    }
    .text{
    font-size:25px;
    font-weight:bold;
    color:#FFFFFF;
    }
    
    #now{
    width:1200px;
    margin:150px auto;
    }
    .nowImg{
    width:100%;
    background-color:white;
    border-radius:10px;
    display:grid;
    }
    .item{
      box-sizing:border-box;
      padding:5px;
    }
    .item img{
      border-radius:5px;
    }
    .item img:hover{
      cursor:pointer;
    }
    .nowImg .item:nth-child(1){
      grid-column: 1/3;
      grid-row: 1/3;
    }
    .nowImg .item:nth-child(2){
      grid-column:3/4;
      grid-row:1/2;
    }
    .nowImg .item:nth-child(3){
      grid-column:4/5;
      grid-row:1/2;
    }
    .nowImg .item:nth-child(4){
      grid-column:3/4;
      grid-row: 2/3;
    }
    .nowImg .item:nth-child(5){
      grid-column: 4/5;
      grid-row:2/3;
    }
  
    
    .nowText{
    width:100%;
    height:300px;
    text-align:center;
    color:cadetblue;
    font-size:50px;
    padding:20px;
    border-radius:10px;
    }
    #kind{
    width:1200px;
    margin:0 auto;
    }
    .kindInsert{
    width:100%;
    height:300px;
    background:skyblue;
    margin:40px 0;
    }
    /* ----------------------------------------------------------------------------- */
    .main2{
      width:100%;
      height:700px;
      display:flex;
      align-items:center;
      /* background:pink; */
  }
  .main2_container{
      width:1200px;
      height:630px;
      margin:auto;
      display:flex;
      justify-content:center;
      align-items:center;
      position:relative;
  }
  .main2_item{
      width:350px;
      height:450px;
      margin:auto 25px;
      border-radius:10px;
      overflow:hidden;
      box-shadow:5px 5px 10px rgb(116, 116, 116);
      cursor:pointer;
  }
  .main2_item img{
      width:100%;
      height:200px;
  }