/*중단------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*main1-----------------------------------*/
.main1{
    height:100%;
    width:1900px;
    margin-bottom:100px;
    overflow:hidden;
}
.main1_container{
    height:700px;
    position:relative;
    display:flex;
    justify-content:center;
}
.slideList{
    transition: 1.2s ease-in-out;
    display:flex;
    width:1920px;
    height:100%;
}
.sl_img{
    width:1920px;
    height:100%;    position:relative;
}
.slide_img_바탕색{
    height:520px;
    width:100%;
    position:absolute;
    left:0px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.slide_img_사진{
    width:1340px;
    height:700px;
    position:absolute;
    right:0px;
}
.slide_image_text{
    z-index:10;
    position:absolute;
    width:1200px;
}
.sit{
    font-family: 'JalnanGothic';
}
.slide_bt{
    height:32px;
    position:absolute;
    display:flex;
    align-items:center;
    bottom:1px;
    left:350px;
}
/*main2-----------------------------------*/
.main2{
    width:100%;
    height:700px;
    display:flex;
    align-items:center;
    /* background:pink; */
}
.main2_container{
    width:1200px;
    height:630px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.main2_item{
    width:350px;
    height:450px;
    margin:auto 25px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:5px 5px 10px rgb(116, 116, 116);
    cursor:pointer;
}
.main2_item img{
    width:100%;
    height:200px;
}
/*main3-----------------------------------*/
.main3{
    width:100%;
    height:500px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    overflow:hidden;
}
@keyframes back{
    0%{transform:translateX(-1000px);background-image:url(../images/main/광고배경.jpg);background-size:contain;background-position:center;}
    100%{transform:translateX(1000px);background-image:url(../images/main/광고배경.jpg);background-size:contain;background-position:center;}
}
/*main4-----------------------------------*/
.main4{
    width:100%;
    height:700px;
    display:flex;
    align-items:center;
    justify-content:center;
} 
.main4_container{
    width:1200px;
    height:600px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.main4 iframe{
margin:0 50px;
border-radius:20%;
}
/*main5-----------------------------------*/
.main5{
    width:100%;
    height:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.main5_container{
    width:1200px;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:end;
    position:relative;
}
.main5_container div img{
    border-radius:100%;  
}
.main5_item, .main5_item_middle{
    margin:0 15px;
}
.main5_img_container{
    width:200px;
    height:200px;
    overflow:hidden;
    border-radius:100%;  
    margin:0 25px;
}
.main5_middle_img_container{
    width:300px;
    height:300px;
    overflow:hidden;
    border-radius:100%;
}
.main5_item img:hover, .main5_item_middle img:hover{
    transform:scale(1.5);
    transition: all 1s linear;
}
.main5_item img{
    width:200px;
    height:200px;
}
.main5_item_text{
    height:400px;
    text-align:center;
}
/*-----------------------------------------------------------------------------*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 배경에 투명도 추가 */
    justify-content: center;
    align-items: center;
    z-index:999;
  }

  #popup{
    background-size:contain;
    background-position:center;
    width:350px; 
    height:450px;
  }

  #close-btn {
    cursor: pointer;
    position:absolute;
    right:15px;
    top:10px;
  }